
a {
  outline: none;
  text-decoration: none;
  color:#222222;
}

.foncon {
	background-color: #DADADA;
}
.carrusel{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.carrusel ul{
    display: flex;
    padding: 0;
    width: 240%;
    
    animation: cambio 10s infinite;
}
.carrusel li{
  width: 21%;
  list-style: none;
}

@keyframes cambio {
  0%{margin-left: 0;}
  50%{margin-left: 0;}
  
  55%{margin-left: -100%;}
  95%{margin-left: -100%;}
  a{
    outline:none;
    text-decoration:none;
  }
}
footer {
  text-align: center;
  position: -webkit-sticky;
            position: sticky;
            align-self: flex-end;
            top: 0;
            bottom: 0;
            padding: 50px;
            font-size: 60px;
            line-height: 3;
            text-align: center;
            width: 100%;
}