body{
	margin: 0;
	padding: 0;
	font-family: lavanderia;
	font-size: 1.5em;
	display: flex;
	min-height: 100vh;
}
main{
	background-color: #222222;
	color:#333;
	width:50%;
	height:auto;
}
.mardel{
	text-align:center;
	padding-left:auto;
	padding-right:auto;
	font-size:100px;
	color: #DADADA;
}
.descript{
	color: #DADADA;
	font-size: 30px;
	text-align:center;
	padding-left:50px;
	padding-right:50px;
	font-style: italic;
}
aside{
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #222222;
	width:50%;
	height: auto;	
}
img{
	margin: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	margin-top: 2%;
}
a{
	outline: none;
	text-decoration: none;
	color:#DADADA;
}

#Redes{
	width: 40%;
	height: 30%;
	margin: 0.2em auto;
	border-radius: 1em;
}
#Rizq{
	width: 100%;
	height: 50%;
}
#Rder{
	width: 100%;
	height: 50%;
}
#Dizq{
	width: 32%;
	height: 30%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 12.5%;
	float: left;
	display: flex;
	align-items: center;
	text-align: center;
}
#Dder{
	width: 32%;
	height: 30%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 12.5%;
	float: right;
	display: flex;
	align-items: center;
	text-align: center;
}

#divgrande {
	border-radius: 1em;
	background-color: #222222;
	width: 100%;
	height: 7%;
}
#divizq {
	width: 50%;
	height: 100%;
	border-radius: 1em;
	background-color: #222222;
	float: left;
}
#divder {
	width: 50%;
	height: 100%;
	border-radius: 1em;
	background-color: #222222;
	float: right;
}
#derecha{
	float: right;
	background-color: #222222;
	width: 50%;
	height: 100%;
}
#izquierda{
	float: left;
	background-color: #222222;
	width: 50%;
	height: 100%;
}

.carrusel{
    width: 100%;
	height: 100%;
    margin:auto;
    overflow: hidden;
	background-color: #222222;
	
}
.carrusel ul{
    display: flex;
    padding: 0;
	margin-top: 15%;
    width: 400%;
	height: auto;
	background-color:#222222;
    
    animation: cambio 20s infinite;
}
.carrusel li{
    width: 100%;
    list-style: none;
	height: auto;
	
    
}
.carrusel img{
	width:100%;
	height:auto; 	
}

@keyframes cambio {
    0%{margin-left: 0;}
	20%{margin-left: -50;}

    40%{margin-left: -100;}
    
    60%{margin-left: -150%;}
    80%{margin-left: -200%;}
	95%{margin-left: -300%;}
    a{
		outline:none;
		text-decoration:none;
	}
}
#xml{
	padding-top: 10%;
}